* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

body {
    background-color: #f5f5f5
}

h1 {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem
}

header {
    width: 100%;
    height: 60px;
    color: #f5f5f5;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center
}

.card {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    margin-top: 2rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgb(0, 0, 0);
    margin: 1rem;
}

.card img {
    height: auto;
    display: block;
    margin: 0 auto;
    width: 270px;
    height: 376px;
}

#header-container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
    width: 100%;
    height: 100px;
    color: #f5f5f5;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pet-list {
    display: flex;
    flex-wrap: nowrap;
}

#div-count {
    color: white;
    background-color: white;
    display: block;
    bottom: 0;
    right: 0;
    position: absolute;
    padding: 10px;
    border-radius: 8px 0px 0px 0px;
    z-index: 1;
}

#div-count p {
    color: black;
    font-weight: bold;
}

#list-empty {
    text-align: center;
    font-size: 1.2rem;
}

#login,
#exibition {
    border: none;
    background-color: transparent;
    color: #f5f5f5;
    cursor: pointer;
    font-size: 1.2rem;
}

#form-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.hidden {
    display: none !important;
}

input {
    width: 40%;
    height: 50px;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 1rem
}

.button {
    margin-top: 1.5rem;
    height: 50px;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    background-color: green;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer
}

#result {
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 5px;
    background-color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.error {
    color: red;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1rem
}

.success {
    color: green;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1rem
}